<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AstroSuite">
<!--   <test thread-count="5" name="ImprovedTest">
    <classes>
      <class name="com.revature.testng.MercuryDriverNewAndImproved"/>
      <class name="com.revature.testng.MercuryDriver"/>
      <class name="com.revature.testng.MercuryDriverCopy1"/>
      <class name="com.revature.testng.MercuryDriverCopy2"/>
      <class name="com.revature.testng.MercuryDriverCopy3"/>
    </classes>
  </test> ImprovedTest -->
    <test thread-count="1" name="TestWithGroups">
    <groups>
    	<run>
    	    <include name="forumDao" />
    		<exclude name="gymDao"/>
    		<exclude name="clientDao"/>
    		<exclude name="trainerDao"/>		
    	</run>
    </groups>
    <classes>
      <class name="com.astrofitness.testing.Testing"/>
    </classes>
  </test> <!-- ImprovedTest -->
  
</suite> <!-- MercurySuite -->
